@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #514e4e; }

a,
.btn {
  text-decoration: none;
  color: #1f3c5e; }

.main-nav__list {
  font-size: 2rem; }

.grid-container {
  font-size: 1.8rem; }

.course_main li {
  list-style-type: none; }

.footer {
  font-size: 1.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn {
  background: #1f3c5e;
  color: #68c2e8; }
  .btn:link, .btn:visited {
    background: none;
    color: #1f3c5e;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .btn:hover {
    transform: translateY(-0.5rem); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn.next, .btn.previous, .btn.select, .btn.submit {
    padding: .3rem;
    border: 0.1rem solid #514e4e;
    border-radius: .7rem; }
    .btn.next:hover, .btn.previous:hover, .btn.select:hover, .btn.submit:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .btn.next:active, .btn.previous:active, .btn.select:active, .btn.submit:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn.submit {
    padding-top: .5rem; }
  .btn.select {
    padding-top: .5rem; }

@media (min-width: 992px) {
  .btn.nav-link {
    padding: 1rem;
    border: 0.2rem solid #514e4e;
    background-color: #9BE482;
    border-radius: .5rem; }
    .btn.nav-link:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn.nav-link:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem; }
  .header_logo-box {
    display: inline;
    text-align: left; }

.grid-container {
  margin-top: 7.7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .grid-container_item {
    margin: 2rem; }

.footer {
  display: block;
  position: relative;
  left: 0;
  bottom: 0; }

@media (max-width: 768px) {
  .main-nav__list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end; }
  .video__iframe {
    margin-top: 1rem; } }

@media (min-width: 769px), (min-width: 992px) {
  .header {
    justify-content: space-between;
    align-items: center; }
    .header_main-nav {
      flex-grow: 1;
      text-align: right; }
  .nav-link {
    display: inline;
    margin-left: 5rem;
    margin-right: 5rem; }
  .grid-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; }
  .box-1 {
    flex-grow: 1;
    min-width: 30rem; }
  .box-2 {
    flex-grow: 1; }
    .box-2 .video__iframe {
      width: 50rem; }
  .box-3 {
    flex-grow: 1;
    max-width: 40rem; } }

@media (min-width: 992px) {
  .header_main-nav {
    align-self: flex-end;
    margin-bottom: 3rem; }
  .grid-container {
    margin-top: 12.6rem; } }

.footer {
  height: auto;
  margin: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(45deg, #70a45e, #f9f871); }

.grid-container {
  padding: 2rem;
  height: fit-content;
  text-align: center;
  background-image: radial-gradient(at bottom right, rgba(31, 60, 94, 0.8), rgba(104, 194, 232, 0.8)); }
  .grid-container_item {
    margin-bottom: 1rem;
    flex: 1; }

.course_level,
.feature {
  border: 0.2rem solid #514e4e;
  border-radius: 1rem;
  background-image: radial-gradient(rgba(112, 164, 94, 0.8), rgba(249, 248, 113, 0.8)); }

.btn.next {
  margin-left: 15%; }

.btn.previous {
  margin-right: 15%; }

.course_level .btn,
.feature .btn {
  margin-bottom: 1rem; }

#level-2,
#level-3 {
  display: none; }

#feature-2,
#feature-3 {
  display: none; }

.header {
  height: auto;
  background-image: linear-gradient(-45deg, #70a45e, #f9f871); }
  .header_logo {
    height: 5rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header_main-nav {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.btn.nav-toggle {
  display: none; }

@media (max-width: 768px) {
  .main-nav__list {
    display: none; }
  .btn.nav-toggle {
    display: block;
    text-align: right;
    color: #68c2e8;
    background: #1f3c5e;
    border-radius: .5rem;
    font-size: 2rem;
    padding: .5rem; }
  #hamburger {
    display: none; }
  .header_main-nav input:checked ~ .main-nav__list {
    display: inline-flex; } }

@media (min-width: 992px) {
  .header_logo {
    height: 10rem; }
  .header_main-nav {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
