$color-primary: #306080;
$color-primary-light: #68c2e8;
$color-primary-dark: #1f3c5e;

$color-secondary: #9BE482;
$color-secondary-dark: #70a45e;
$color-secondary-light: #F9F871;


$color-gray-light-1: #f7f7f7;

$color-gray-dark: #514e4e;
$color-white: #fff;
$color-black: #000;


