.header{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  
  &_logo-box{
    display: inline;
    text-align: left;
  }

 

}



.grid-container{
  margin-top: 7.7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  &_item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


.footer {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
}


@media (max-width: 768px){
  .main-nav__list{
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .grid-container {
    margin-top: 12rem;
  }
}

@media (min-width: 769px), (min-width: 992px) {
  .header{
    justify-content: space-between;
    align-items: center;
    
    &_main-nav{
      flex-grow: 1;
      text-align: right;
    }
  
  }

  .nav-link {
    display: inline;
    margin-left: 5rem;
    margin-right: 5rem;
  }
	
  .grid-container{
    flex-direction: row;
    align-items: flex-center;
  }



}


@media (min-width: 992px) {
  .header{
    
    &_main-nav{
      align-self: flex-end;
      margin-bottom: 3rem;
    }
  }

  .grid-container{
    margin-top: 14.6rem;
  }

}  