.header{
  display: flex;
  justify-content: space-around;
  align-items: center;


  &_main-nav{
    flex-grow: 1;
    text-align: center;
  }

}

.nav-link {
  display: inline;
  margin-left: 5rem;
  margin-right: 5rem;
}



