.grid-container {
    padding: 2rem;
    height: fit-content;
    text-align: center;
    background-image: radial-gradient(at bottom right,
            rgba($color-primary-dark, .8),
            rgba($color-primary-light, .8));

    &_item {
        margin-bottom: 1rem;
        flex: 1;
    }

}

.course_level {
    display: none;
}

.course_level.active,
.feature {
    display: block;
    border: .2rem solid $color-gray-dark;
    border-radius: 1rem;
    background-image: radial-gradient(rgba($color-secondary-dark, 0.8),
            rgba($color-secondary-light, 0.8));
}

.btn-box{
    margin-top: 1rem;
}

.btn.next{
    margin-left: 15%;
}

.btn.previous{
    margin-right: 15%;
}


.course_level.active .btn,
.feature .btn {
    display: inline-flex;
    margin-bottom: 1rem;
}



#feature-2,
#feature-3 {
    display: none;
}