*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

//Eliminate whitespace from page bottom
@media(min-width: 854px) {
  .wrapper{
    height: 80vh;
  }
}

@media (min-width: 1225px) {
  .wrapper {
    height: 70vh;
  }
}

