body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 1rem;
}

a{
  text-decoration: none;
  color: $color-primary-dark;
}

// .nav-link{
//   padding: 1rem;
//   margin: .5rem;
//   border: .2rem solid $color-gray-dark;
//   background-color: $color-secondary;
//   border-radius: .5rem;
// }

.main-nav__list{
  list-style-type: none;
  font-size: 2rem;
}

