body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray-dark;
}

a,
.btn{
  text-decoration: none;
  color: $color-primary-dark;
}



.main-nav__list{
  font-size: 2rem;
}

.grid-container {
  font-size: 1.8rem;
}

.course_main {


  & li {
    list-style-type: none;
  }
}

.footer {
  font-size: 1.5rem;
}